# Ignore node_modules directory
node_modules/

# Ignore playwright directory
test-results/
playwright.yml

# Ignore jmeter directory
apache-jmeter-5.6.3/

# Ignore vscode directory
.vscode/

# Ignore obj directory
obj/

*.sln
*.csproj
bin/
global-teardown.js
global-setup.js

react-project/

package-lock.json
package.json