body{
    font-family: 'Courier New', Courier, monospace;
    background-image: url("background_image.jpg");
    background-color: white;
}

main {
    margin: auto;
    width: 70%;
    text-align: center;
    background-color: white;
    border: solid black 1px;
    border-radius: 15px;
    height: 1000px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    border: black solid 1px;
}
nav a {
    font-size: 20px;
}
    
a {
    text-decoration: none;
    color: black;
}
